body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #0c0c0c;
}

.container {
  display: grid;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  grid-template-columns: 22% 78%;
}

.menu {
  float: left;
  height: 100%;
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-right: 1.5px solid lightgrey;
  font-size: 11pt;
  min-height: 100vh;
}

.title {
  font-weight: 600;
  font-size: 21pt;
  margin-bottom: 30px;
}

.label {
  font-weight: 600;
  font-size: 12pt;
  margin-top: 12px;
  color: #312627;
}

.canvas {
  background-color: pink;
  float: right;
  height: 100%;
  z-index: 0;
}

.card-1 {
  background-color: red;
  width: 200px;
  height: 200px;
}

.card-2 {
  background-color: blue;
  width: 200px;
  height: 200px;
}
