body {
  margin: 0;
}

.container {
  display: grid;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  grid-template-columns: 22% 78%;
}

.menu {
  float: left;
  height: 100%;
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-right: 1.5px solid lightgrey;
  font-size: 11pt;
  min-height: 100vh;
  overflow: auto;
}

.label {
  font-weight: 500;
}

.canvas {
  background-color: pink;
  float: right;
  height: 100%;
  z-index: 0;
}
